<div class="welcome">
<a href="/home">Ir a Home</a>
<a href="/products">Ir a Productos</a>
<a href="/api/sessions/logout">Cerrar Sesión</a>
</div>

<div id="listCarrito">
    {{#if carrito}}
        <h2>Contenido del Carrito</h2><br><br>
    {{else}}
        <p>No hay datos de carrito disponibles.</p>
    {{/if}}

    {{#each carrito}}
        <h3>Carrito ID: {{_id}}</h3>
        
        {{#if products.length}}
            <ul>
            {{#each products}}
                <li>Producto ID: {{id_prod}}</li>
                <li>Cantidad: {{quantity}}</li>
            {{/each}}
            </ul> <br>
        {{else}}
            <p>No hay productos en este carrito.</p>
        {{/if}}
    {{/each}}
</div>
